%section#sketches.container-fluid
  .row
    .col-md-2
    .col-md-8.sketch-count
      - if @sketches.empty?
        No Sketches
      - else
        = "You have #{@sketches.count} sketches"
        - @sketches.each do |sketch|
          = sketch.title
    .col-md-2
