%section#sketches.container-fluid
  .row
    .col-md-6
      - if @sketches.empty?
        No Sketches
      - else
        %p= "You have #{@sketches.count} sketches"
        - @sketches.each do |sketch|
          %span
            = sketch.title