%section#sketches.container-fluid
  .row
    .col-md-2
    .col-md-8.sketch-boxes-container
      .sketch-count
      - if @sketches.empty?
        No Sketches
      - else
        = "You currently have #{@sketches.count} sketches"
      .sketch-container
        - @sketches.each do |sketch|
          .sketch-box.col-sm-2
            %ul.list-unstyled
              %li= sketch.title
              %hr
              %li.sketch-image
                Image of sketch here
                =link_to "link", sketch_show_path(sketch.user.username, sketch.slug)
    .col-md-2
