#code-editor
  .container-fluid
    .row
      #editor

#code-results
  .container-fluid
    .row
      #buttons
        %button#submit-button.btn.btn-default{type: "submit"} Submit
        %button#clear-button.btn.btn-default{type: "submit"} Clear Editor
        %button#clear-console-button.btn.btn-default{type: "submit"} Clear Console
      #results

%script{type: "text/javascript", src: "https://cdn.rawgit.com/ajaxorg/ace-builds/master/src-noconflict/ace.js", charset: "utf-8"}
%script
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/terminal");
  editor.getSession().setMode("ace/mode/ruby");
  editor.getSession().setTabSize(2);
  editor.setReadOnly(false);
