#sketch-view
  #code-editor.stretch
    .container-fluid
      .row
        #editor.index-page

  #code-results
    .container-fluid
      .row
        #buttons
          %button#submit-button.btn.btn-default{type: "button"} Run
          %button#clear-editor-button.btn.btn-default{type: "button"} Clear Editor
          %button#clear-console-button.btn.btn-default{type: "button"} Clear Console
        #results

:javascript
  $(document).ready(function() {
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/terminal");
    editor.getSession().setMode("ace/mode/ruby");
    editor.getSession().setTabSize(2);
    editor.setReadOnly(false);
    editor.getSession().setUseWrapMode(true);
    editor.setHighlightActiveLine(true);
  });
