#code-editor
  .container-fluid
    .row
      #editor

#code-results
  .container-fluid
    .row
      %a#submit-button{:href => "#"} Submit
      #results

%script{type: "text/javascript", src: "https://cdn.rawgit.com/ajaxorg/ace-builds/master/src-noconflict/ace.js", charset: "utf-8"}
%script
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/terminal");
  editor.getSession().setMode("ace/mode/ruby");
  editor.getSession().setTabSize(2);
  editor.setReadOnly(false);
