// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#code-editor, #code-results  {
  width: 50%;
  height: 100%;
  float: left;
}

#editor, #results {
  position: relative;
  height: 100vh;
  padding: 0;
}

#code-results {
  position: relative;

  button {
    z-index: 2;
    position: absolute;
  }

  #submit-button {
    right: 10px;
    top: 10px;
  }

  #clear-button {
    right: 10px;
    top: 50px;
  }

  #clear-console-button {
    right: 10px;
    top: 90px;
  }

  .btn {
    padding: 5px;
    border: 2px solid #3b82e5;
    border-radius: 4px;
    color: #3b82e5;

    &:hover, &:active {
      background: none;
    }

    &:focus, &:active:focus {
      outline: 0 none;
    }
  }

}




