body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #1972A7;
  font-size: 1em;
  margin-bottom: 0;
  border: none;
  border-radius: 0;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      outline: none;
      color: #86cee8;
    }
  }

  .navbar-right {
    font-size: 1em;
    margin-right: 20px;
    margin-top: 5px;

    .list-inline {
      margin: 15px 30px 0 0;
    }
  }
}

.alert {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
}