body {
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  background-color: steelblue;
  border-radius: 0;
  font-size: 1em;
  border: none;
  margin-bottom: 0;

  .navbar-nav, .user-info {
    padding: 20px;
    font-size: 1em;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .navbar-nav {
    margin-left: 50px;
  }

  .user-info {
    margin-right: 50px;
    span {
      margin-left: 10px;
    }
  }

}