// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#code-editor, #code-results  {
  width: 50%;
  float: left;
  position: relative;
}

.index-page {
  height: 92.6vh;
  padding: 0;
}

.save-page {
  height: 88.8vh;
  padding: 0;
}

#code-results {
  position: relative;

  #buttons {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
  }

  button {
    text-align: center;
  }

  #submit-button,
  #clear-editor-button,
  #clear-console-button,
  #save-button {
    right: 10px;
  }

  #submit-button {
    top: 10px;
  }

  #clear-editor-button {
    top: 50px;
  }

  #clear-console-button {
    top: 90px;
  }

  #save-button {
    top: 130px;
  }

  .btn {
    width: 100px;
    padding: 5px;
    color: #3b82e5;
    border: 0 none;
    font-size: 0.7em;

    &:hover, &:active, &:focus, &:active:focus {
      background: none;
      box-shadow: none;
      outline: 0 none;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

section#sketches {
  margin-top: 20px;

  .panel {
    margin-bottom: 10px;
  }
  .panel-heading {
    background-color: #44a7e3;
    background-image: none;
    color: white;
  }
  .panel-body {
    #editor-index {
      height: 300px;
    }
  }
}



